<%- include('../layouts/header.ejs') %>
<body>
   


    <div class="body-wrapper">
        <!-- mobile menu start -->
        <%- include('../layouts/mobileMenu.ejs') %>
        <!-- moboli menu ending -->


        <!-- header section start -->
        <%- include('../layouts/nav.ejs') %>
        <!-- header section ending -->
        <!-- page header section ending here -->


        <!-- contact us section start here -->
        <section class="contact-us padding-tb">
            <div class="container">
                <div style="    border-radius: 25px;
    overflow: hidden;" class="row no-gutters section-wrapper">
                    <div class="col-lg-6">
                        <div class="row no-gutters">
                            <div class="col-sm-6">
                                <div class="main-addres">
                                    <div class="contact-title">
                                        <h4 style=" font-family: intgral;">United Arab Emirates</h4>
                                    </div>
                                    <div class="contact-body">
                                        <ul>
                                            <li>
                                                <h6>Location :</h6>
                                                <p>Business Bay, Dubai, UAE  </p>
                                            </li>
                                            <li>
                                                <h6>Phone Number :</h6>
                                                <p>+971 547334463</p>
                                            </li>
                                            <li>
                                                <h6>Email Address :</h6>
                                                <a  href="mailto:sales@seae.ae">sales@seae.ae</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="rounch-addres">
                                    <div class="contact-title">
                                        <h4 style=" font-family: intgral;">India</h4>
                                    </div>
                                    <div class="contact-body">
                                        <ul>
                                          
                                            <li>
                                                <h6>Location :</h6>
                                                <p>Trivandram, kerala, India </p>
                                            </li>
                                            <li>
                                                <h6>Phone Number :</h6>
                                                <p>+91 8139889792</p>
                                            </li>
                                            <li>
                                                <h6>Email Address :</h6>
                                                <a href="mailto:operations@seae.ae">operations@seae.ae</a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <h5 style="opacity: 0;">United States</h5>
                                            </li>
                                            <li>
                                                <h6 style="opacity: 0;">Location :</h6>
                                                <p style="opacity: 0;">Level 12 Alfa City Center 120 Broklyn New York </p>
                                            </li>
                                            <li>
                                                <h6 style="opacity: 0;">Phone Number :</h6>
                                                <p style="opacity: 0;">+258 666 888 000, 02- 698147</p>
                                            </li>
                                            <li>
                                                <h6 style="opacity: 0;">Email Address :</h6>
                                                <a style="opacity: 0;" href="#">Support@adminenvishare.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-area">
                            <div class="contact-title">
                                <h4 style=" font-family: intgral;">Send Us a Message</h4>
                            </div>
                            <div id="respond" class="comment-respond">
                                <div class="add-comment">
                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <input style="border-radius: 15px;" name="name" type="text" value="" placeholder="Name">
                                        <input style="border-radius: 15px;" name="email" type="text" value="" placeholder="Email">
                                        <input style="border-radius: 15px;" name="url" type="text" value="" placeholder="Subject">
                                        <textarea style="border-radius: 15px;" id="comment-reply" name="comment" rows="9" placeholder="Type Here Your Comment"></textarea>
                                        <!-- <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"><label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time.</label></p> -->
                                        <button type="submit">
                                            <div class="custom-btn">
                                                <span ><a href="https://wa.me/c/918489643999" style="color: white;">Send Message In Whatsapp</a></span>
                                            </div>
                                        </button>
                                    </form>
                                </div>			
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact us section ending here -->




        

        <!-- footer section start here -->
        <%- include('../layouts/footer.ejs') %>
        <!-- footer section end here -->
    </div>

    <!-- scroll to top -->
    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <!-- scroll to top -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "SEAE - Sustainable Exports to Arab Emirates",
  "url": "https://seae.ae",
  "logo": "https://seae.ae/logo.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+971-555-5555",
    "contactType": "Customer Service"
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Business Bay",
    "addressLocality": "Dubai",
    "addressRegion": "UAE",
    "postalCode": "12345",
    "addressCountry": "AE"
  },
  "description": "SEAE specializes in sustainable exports to the Arab Emirates, offering eco-friendly and high-quality products tailored for the UAE market."
}
</script>



    
    <script src="/js/jquery.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/lightcase.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/progress.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/map-custom.js"></script>
    <script src='/js/slick.min.js'></script>
    <script src="/js/theia-sticky-sidebar.js"></script>
    <script src="/js/functions.js"></script>
</body>


</html>