<section class="support-section padding-tb" style="background-image: url(/images/404/su.jpeg); background-size: cover; position: relative;">
    <div class="absolute w-100 h-100 " style="background-color: rgb(51 40 2); position: absolute; opacity: 0.6; top: 0;"></div>
    <div class="container">
        <div class="section-header style-2" data-aos="fade-up" data-aos-duration="700">
            <h2 style="font-family: intgral;">Attain Sustainability
            </h2>
            <!-- <h2><span>1 Million Activists to Clean the air and Safe Rivers</span></h2> -->
        </div>
        <div class="section-wrapper">
            <div class="post-item" data-aos="fade-left" data-aos-duration="700">
                <div class="post-inner">
                    <h3><span class="counter">100</span>%</h3>
                    <h4>Sustainability in Healthcare</h4>
                    <!-- <p>of your project gift directly funds vital conservation action</p> -->
                </div>
            </div>
            <div class="post-item" data-aos="fade-up" data-aos-duration="700">
                <div class="post-inner">
                    <h3><span class="counter">100</span>%</h3>
                    <h4>Sustainability in Supply Chain & Logistics
                    </h4>
                    <!-- <p>of your project gift directly funds vital conservation action</p> -->
                </div>
            </div>
            <div class="post-item" data-aos="fade-right" data-aos-duration="700">
                <div class="post-inner">
                    <h3><span class="counter">100</span>%</h3>
                    <h4>Sustainability in Energy Consumption</h4>
                    <!-- <p>of your project gift directly funds vital conservation action</p> -->
                </div>
            </div>
            <div class="post-item" data-aos="fade-right" data-aos-duration="700">
                <div class="post-inner">
                    <h3><span class="counter">100</span>%</h3>
                    <h4>Sustainability in Construction
                    </h4>
                    <!-- <p>of your project gift directly funds vital conservation action</p> -->
                </div>
            </div>
        </div>
    </div>
</section>