 <!-- 8 un sustainable in pdf  -->
        <!-- feature section start here -->
        <section id="fe" class="feature-section pattern-bg padding-tb">
            <div class="container">
                <div class="section-header" data-aos="fade-up" data-aos-duration="700">
                    <h2 ><span style="font-family: intgral;">We Work To Achive</span></h2>
                    <h2><span>8 of 17 Sustainablity Goals!</span></h2>
                </div>
                <!--  -->
                <div class="section-wrapper">
                    <div class="post-item" data-aos="fade-left" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/6_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                 <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/6_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Clean Water And Sanitation</span></h4>
                                <p>Cabors Levera Othns Andn That Quas Bwdh Thos Covae Theme Any Value Cordnte.</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-up" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/7_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/7_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Affordable & Clean Energy</span></h4>
                                <p>We facilitate the transition to renewable energy by offering affordable and innovative energy solutions. Our goal is to support sustainable development and reduce environmental impact.</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-down" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/9_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/9_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Industry, Innovation & Infrastructure</span></h4>
                                <p>We invest in and provide products that drive innovation and build resilient infrastructure. Our focus on sustainable industrialization enhances both quality of life and environmental stewardship.</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-right" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/11_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/11_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Sustainable Cities & Communities</span></h4>
                                <p>We promote sustainable urban development through our products, contributing to safer and more resilient communities. Our solutions support effective urban planning and reduce environmental impact.</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-left" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/12_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/12_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Responsible Consumption and Production</span></h4>
                                <p>Our product range is designed to encourage responsible consumption and minimize waste. We support practices that reduce resource use and promote environmental sustainability.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-up" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/13_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/13_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;" >Climate Action</span></h4>
                                <p> We are committed to climate action by offering products that reduce greenhouse gas emissions and enhance climate resilience. Our focus is on implementing sustainable practices that mitigate climate risks</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-down" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/14_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/14_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Life Below Water</span></h4>
                                <p>We advocate for the protection of marine ecosystems through our sustainable products and practices. Our efforts support ocean health and preserve marine biodiversity.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item" data-aos="fade-right" data-aos-duration="700">
                        <div class="post-inner">
                            <div style="width: 100%; height: 100%; " class="post-thumb">
                                <img style="width: 100%;height: 100%; object-fit: cover; border-radius: 15px;" class="kk" src="/lottie/15_SDG_MakeEveryDayCount_Gifs_GDU.gif" alt="feature">
                                <!-- <img style="width: 100%;height: 100%; object-fit: cover;" src="https://static.wixstatic.com/media/c837a6_4075de02a5af4f2f876a5a4bbf7cdfb3~mv2.jpg/v1/fill/w_611,h_391,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/shutterstock_1052315747.jpg" alt="feature"> -->
                                <!-- <video style="width: 100%;height: 100%;object-fit: cover;" autoplay loop muted src="/lottie/15_SDG_MakeEveryDayCount_Gifs_GDU.gif"></video> -->
                            </div>
                            <div class="post-content">
                                <h4><span style="font-weight: 100;">Life on Land</span></h4>
                                <p>Our products contribute to the conservation of terrestrial ecosystems and promote sustainable land use. We address deforestation and land degradation to protect natural habitats and biodiversity.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .post-inner{
                    border-radius: 15px !important;
                }
                .kk{
                    scale: 1.1;
                }
                </style>
        </section>
        
        <!-- feature section ending here -->