<footer
  style="
    width: 100%;
    min-height: 20rem;
    border-radius: 30px 30px 0 0;
    background-color: #5c822e;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
  "
  class="footer-wrap"
>
  <div class="footer-section" style="width: 100%;height: 100%;">
    <div class="logo-section" style="overflow: visible;">
      <div class="logo2" style="overflow: visible;">
        <img
          style="
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(1px 1px 20px #00000040);
          "
          src="/images/logo/New Project 180 [4BBDC2C].png"
          alt="seae | Sustainable Products for Export to Arab Emirates SEAE "
        />
        <div class="cont" style="overflow: visible;">
          <p class="logo-cont">Sustainable Exports to Arab Emirates</p>
        </div>
      </div>
    </div>
    <div class="nav-section products-section footer">
      <p><a class="ij" style="text-transform: capitalize;" href="/">Home</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="/Contact">Contact</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="/About">AboutUs</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="/Products">Products</a></p>
    </div>
    <div class="products-section">
      <p><a class="ij" style="text-transform: capitalize;" href="/Products">Wooden Tooth Brushes</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="/Products">Wooden Neem Comb</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="/Products">Wooden Water Bottle</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="/Products">Wooden Tongue Cleaner</a></p>
    </div>
    <div class="products-section">
      <!-- <p><a class="ij" style="text-transform: capitalize;" >twitter</a></p> -->
      <p><a class="ij" style="text-transform: capitalize;" href="https://www.instagram.com/seae_india?igsh=NnVyb3c4ajB5cGo5">instagram</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="https://www.tiktok.com/@seae733?_t=8pO7ccfJKMr&_r=1">tik tok</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="mailto:sales@seae.ae">email</a></p>
      <p><a class="ij" style="text-transform: capitalize;" href="https://www.facebook.com/profile.php?id=61559265517075&mibextid=ZbWKwL">facebook</a></p>
    </div>
    <div class="products-section">
      <!-- <p><a class="ij" style="text-transform: capitalize;" href="">twitter</a></p> -->
      <p><a class="ij" style="" href="mailto:sales@seae.ae">Sales@seae.ae</a></p>
      <p><a class="ij" style="text-transform: capitalize;" >+91 8139889792</a></p>
      <p><a class="ij" style="text-transform: capitalize;" >+971 547334463</a></p>
  
      <p><a class="ij" style="text-transform: capitalize;" >kerala, india | Dubai, UAE</a></p>
    </div>  
  </div>
  <div class="w-full h-full d-flex copyWrite" style="justify-content: center; position: absolute;   width: 100%; ">
    <a href="https://www.infoa.in/" style="color: white !important;"><p style="color: rgba(255, 255, 255, 0.389) !important;">made by infoAnalytics</p></a>
  </div>
 
</footer>

<style>
  .footer-wrap{
    padding: 3rem 10rem;
  }
  .copyWrite{
    bottom: 10%;
  }
  .footer-section {
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: start;
    gap: 7rem;
    flex-wrap: wrap;
    /* align-items: center; */
    flex-direction: row;
    
  }
  .ij{
    color: white !important;
  }
  .footer p a{
    color: white !important;
  }
  .logo-section {
    width: 10rem;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo2 {
    width: 11rem;
    height: 8rem;

    /* background-color: rebeccapurple; */
  }
  .logo-cont {
    transform: translateY(-1rem);
    color: white;
  }
  .nav-section>p{
    
    color: white !important;
  }
  .nav-section{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  }
  .products-section>p{
    
    color: white !important;
  }
  .products-section{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width:900px) {
    .footer-section {
    
    gap: 4rem;
   
    /* padding: .4rem 3rem; */
  }
  .copyWrite{
    bottom: 0%;
  }
  .footer-wrap{
    padding: .4rem 3rem; 
  }
  }
  @media (max-width:600px) {
    .footer-section {
    
    gap: 2rem;
   
    /* padding: 2rem 3rem; */
  }
  .copyWrite{
    bottom: 0%;
  }
  .footer-wrap{
    padding: 3rem 3rem;
  }
  .products-section{
    margin-top: 1rem;
  }
  }
</style>
