<footer
  style="
    width: 100%;
    min-height: 20rem;
    border-radius: 30px 30px 0 0;
    background-color: #9ae768;
  "
  class="footer-section"
>
  <div class="logo-section">
    <div class="logo2">
      <img
        style="
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: drop-shadow(1px 1px 20px #00000040);
        "
        src="/images/logo/New Project 180 [4BBDC2C].png"
        alt=""
      />
      <div class="cont">
        <p class="logo-cont">Sustainable Exports to Arab Emirates</p>
      </div>
    </div>
  </div>
  <div class="nav-section products-section footer">
    <p><a class="ij" href="/">Home</a></p>
    <p><a class="ij" href="/Contact">Contact</a></p>
    <p><a class="ij" href="/About">AboutUs</a></p>
    <p><a class="ij" href="/Products">Products</a></p>
  </div>
  <div class="products-section">
    <p><a class="ij" href="/Products">Wooden Tooth Brushes</a></p>
    <p><a class="ij" href="/Products">Wooden Neem Comb</a></p>
    <p><a class="ij" href="/Products">Wooden Water Bottle</a></p>
    <p><a class="ij" href="/Products">Wooden Tongue Cleaner</a></p>
  </div>
  <div class="products-section">
    <!-- <p><a class="ij" href="">twitter</a></p> -->
    <p><a class="ij" href="https://www.instagram.com/seae_india?igsh=NnVyb3c4ajB5cGo5">instagram</a></p>
    <p><a class="ij" href="https://www.tiktok.com/@seae733?_t=8pO7ccfJKMr&_r=1">tik tok</a></p>
    <p><a class="ij" href="mailto:">email</a></p>
    <p><a class="ij" href="https://www.facebook.com/profile.php?id=61559265517075&mibextid=ZbWKwL">facebook</a></p>
  </div>

 
</footer>

<style>
  .footer-section {
    position: relative;
    display: flex;
    justify-content: start;
    gap: 7rem;
    flex-wrap: wrap;
    /* align-items: center; */
    flex-direction: row;
    padding: 3rem 10rem;
  }
  .ij{
    color: white !important;
  }
  .footer p a{
    color: white !important;
  }
  .logo-section {
    width: 10rem;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo2 {
    width: 11rem;
    height: 8rem;

    /* background-color: rebeccapurple; */
  }
  .logo-cont {
    transform: translateY(-1rem);
    color: white;
  }
  .nav-section>p{
    
    color: white !important;
  }
  .nav-section{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  }
  .products-section>p{
    
    color: white !important;
  }
  .products-section{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width:900px) {
    .footer-section {
    
    gap: 4rem;
   
    padding: .4rem 3rem;
  }
  }
  @media (max-width:600px) {
    .footer-section {
    
    gap: 2rem;
   
    padding: 2rem 3rem;
  }
  .products-section{
    margin-top: 1rem;
  }
  }
</style>
