<header style=" backdrop-filter: blur(9px);
    background: #ffffff7d;" class="header-section d-xl-block d-none">
    <div class="header-area">
        <div class="logo">
            <a style="height: 4rem;" href="index.html">
                <%- include("./logo.ejs")%>
            </a>
        </div>
        <div class="main-menu d-none d-xl-block">
            <div class="top">
            
               
            </div>

            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                   
                </li>
                <li>
                    <a href="/Products">Products</a>
                  
                </li>
                <!-- <li>
                    <a href="/Services">Services</a>
                   
                </li> -->
                <!-- <li>
                    <a href="/Projects">Projects</a>
                    
                </li> -->
                <li>
                    <a href="/About">About Us</a>
                   
                </li>
                <li>
                    <a href="/Contact">Contact Us</a>
                 
                </li>
                <!-- <li>
                    <a href="contact-us.html">Special offer</a>
                </li> -->
            </ul>
        </div>
        <ul class="right-side d-none d-xl-flex">
            <li>
                <div class="post-thumb">
                    <img src="/images/logo/comment.png" alt="seae | Sustainable Products for Export to Arab Emirates SEAE ">
                </div>
                <div class="post-content">
                    <span>Call Or Chat With Us</span>
                    <span>+91 8139889792</span>
                </div>
            </li>
            <!-- <li>
                <a class="search-start">
                    <i class="fas fa-search"></i>
                </a>
            </li> -->
          
        </ul>
    </div>
</header>
<style>
    @font-face {
        font-family: intgral;
        src: url(/fonts/IntegralCF-Bold.otf);
    }
    @font-face {
        font-family: Dm;
        src: url(/fonts/DMSans_18pt-Medium.ttf);
    }
    *{
        font-family: Dm;
    }
    #m-menuT{
        font-family: Dm !important;
    }
    .integral{
        font-family: intgral !important;
        
    }
    .btn-ghost{
        color: #5F493E;
        background-color: white;
        border-radius: 10px;
        padding:.3rem 1rem;
    }
 </style>