<section class="feature-section-2 feature-section style-three padding-tb pattern-bg style=" background-size: cover;">
    <div class="container">
        <div class="section-header" data-aos="fade-up" data-aos-duration="700">
            <h2 style="font-family: intgral;">Our Process</h2>
           <div style="width: 100%; text-align: center;     display: flex;
justify-content: center;
margin-top: 1rem;" class=""><p style="width: 70%; font-family: Dm;"> We aim to address and resolve complex sustainability challenges by providing a commercially and environmentally viable solution. We ensure our solution benefits businesses in generating profits by the adoption of sustainable products & technologies.</p></div>
        </div>
        <div class="section-wrapper">
            <div class="post-item" data-aos="fade-left" data-aos-duration="700">
                <div class="post-inner">
                  
                    <div class="post-content">
                        <h4 style="font-family: intgral;">Identify </h4>
                        <p>Identify The Problem The Customer Is Facing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="post-item" data-aos="fade-up" data-aos-duration="700">
                <div class="post-inner">
                  
                    <div class="post-content">
                        <h4 style="font-family: intgral;">Research</h4>
                        <p>Research The Cause Of The Problem</p>
                    </div>
                </div>
            </div>
            <div class="post-item" data-aos="fade-down" data-aos-duration="700">
                <div class="post-inner">
                  
                    <div class="post-content">
                        <h4 style="font-family: intgral;">Analyze </h4>
                        <p>Analyze The Problem</p>
                    </div>
                </div>
            </div>
            <div class="post-item" data-aos="fade-right" data-aos-duration="700">
                <div class="post-inner">
                  
                    <div class="post-content">
                        <h4 style="font-family: intgral;">Solution </h4>
                        <p>Find the Best Possible Solution.</p>
                    </div>
                </div>
            </div>
            <div class="post-item" data-aos="fade-right" data-aos-duration="700">
                <div class="post-inner">
                  
                    <div class="post-content">
                        <h4 style="font-family: intgral;">Implement  </h4>
                        <p>Implement The Solution.
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>