<section style="" class="campaign-section pattern-bg style-two padding-tb">
    <div class="container">
        <div class="section-header" data-aos="fade-up" data-aos-duration="700">
            <h2 style="font-family: intgral;">Our products</h2>
            <!-- <h2><span>Our Popular Fundraising Campaigns</span></h2> -->
        </div>
        <style>
             .pro-im{
                border-radius: 15px;
            }
            .pro-thumb .post-inner{
                border-radius: 15px;
            }
            .post-thumb{
                border-radius: 15px;
            }
            .pro-thumb:hover{
                box-shadow: -1px 2px 12px 1px #0000004e;
            }
            ::-webkit-scrollbar{
                width: 0;
            }
        </style>
        <div class="section-wrapper" data-aos="fade-up" data-aos-duration="700">
            <div class="campaign-slider-two">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-thumb pro-thumb style-2">
                                    <a href="/Products"><img class="pro-im" src="/images/project/seae brush.jpg" alt="campaign"></a>
                                    <!-- <div class="post-thumb pro-thumb-content">
                                        <div class="skill-item">
                                            <ul class="d-flex flex-wrap justify-content-between">
                                                <li>Raised $20.000</li>
                                                <li>Gold $35.500</li>
                                            </ul>
                                            <div class="skillbar" data-percent="47%">
                                                <div class="skillbar-bar">
                                                </div>
                                                <div class="skill-bar-percent">47%</div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="post-content">
                                    <h4><a href="/Products" style="font-family: intgral;">WOODEN TOOTH BRUSHES</a></h4>
                                    <p> Upgrade your grooming routine with our elegant wooden brush, designed to effortlessly detangle and smooth your hair with minimal static. Crafted from high-quality, sustainable wood, it offers both durability and a touch of luxury </p>
                                    <a href="/Products" class="custom-btn" style="font-family: Dm;">Buy Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-thumb pro-thumb style-2">
                                    <a href="/Products"><img class="pro-im" src="/images/project/sea comb.jpg" alt="campaign"></a>
                                    <!-- <div class="post-thumb pro-thumb-content">
                                        <div class="skill-item">
                                            <ul class="d-flex flex-wrap justify-content-between">
                                                <li>Raised $20.000</li>
                                                <li>Gold $35.500</li>
                                            </ul>
                                            <div class="skillbar" data-percent="47%">
                                                <div class="skillbar-bar">
                                                </div>
                                                <div class="skill-bar-percent">47%</div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="post-content">
                                    <h4><a href="/Products" style="font-family: intgral;">Wooden Neem Comb</a></h4>
                                    <p>Discover the elegance and sustainability of our handcrafted wooden comb, designed to enhance your grooming routine with a touch of natural beauty. Made from premium, eco-friendly wood, this comb glides smoothly through your hair, reducing static and promoting healthy, tangle-free strands</p>
                                    <a href="/Products" class="custom-btn" style="font-family: Dm;">Buy Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-thumb pro-thumb style-2">
                                    <a href="/Products"><img class="pro-im"src="/images/project/seae bottle.jpg" alt="campaign"></a>
                                  
                                </div>
                                <div class="post-content">
                                    <h4><a href="/Products" style="font-family: intgral;">Wooden Water Bottle</a></h4>
                                    <p>Elevate your hydration experience with our eco-friendly wooden water bottle, meticulously crafted to combine style and sustainability. Its natural wood exterior provides a unique, sleek look while keeping your beverages cool and fresh</p>
                                    <a href="/Products" class="custom-btn" style="font-family: Dm;">Buy Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-thumb pro-thumb style-2">
                                    <a href="/Products"><img class="pro-im" src="/images/project/seae tc.jpg" alt="campaign"></a>
                                   
                                </div>
                                <div class="post-content">
                                    <h4><a href="/Products" style="font-family: intgral;">Wooden Tongue Cleaner</a></h4>
                                    <p> Refresh your oral hygiene with our premium wooden tongue cleaner, expertly crafted to support a natural and effective cleaning routine. Its smooth, ergonomic design ensures gentle yet thorough removal of bacteria and debris, promoting a cleaner, healthier mouth.</p>
                                    <a href="/Products" class="custom-btn" style="font-family: Dm;">Buy Now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="campaign-pagination"></div>
            </div>
        </div>
    </div>
</section>
<div style="    backdrop-filter: blur(9px);
    background: #0000007d;" class="modal" id="quick_view">
							<div style="border-radius: 50px;" class="modal-dialog modal-lg modal-dialog-centered">
								<div style="border-radius: 50px;" class="modal-content">
									<button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
									<div class="modal-body">
										<div class="product-details-inner">
											<div class="row">
												<div class="col-lg-5 col-12">
													<div class="popup-slide">
														<div style="border-radius: 20px;" class="thumb">
															<img style="border-radius: 10px;" id="img" src="/images/shope/01.jpg" alt="shope">
														</div>
														
													</div>
												</div>
												<div class="col-lg-7">
													<div class="product-content">
														<h5><a id="name" href="#">Product Title Here</a></h5>
														<p>
															<!-- <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> -->
														</p>
														<h6 id="price">
															$200
														</h6>
														<p id="description">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
															tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
															quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														</p>
													</div>
													<div class="cart-button">
														<!-- <div class="cart-plus-minus">
															<div class="dec qtybutton">-</div>
															<input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
															<div class="inc qtybutton">+</div>
														</div> -->
														<a href="https://wa.me/c/971565907311" style="border-radius: 15px;" class="custom-btn">UAE shop <i class="fas fa-cart"></i></a>
														<a href="/Products" style="border-radius: 15px;" class="custom-btn">INDIA shop <i class="fas fa-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>