<section class="campaign-section pattern-bg">
    <div class="container">
        <div class="section-header" data-aos="fade-up" data-aos-duration="700">
            <!-- <h2>Urgent Campaign</h2> -->
            <h2><span style="font-family: intgral;">Our mission & vision</span></h2>
        </div>
        <div style="border-radius: 15px;" class="section-wrapper" data-aos="fade-up" data-aos-duration="700">
            <div style=" border-radius: 15px;   box-shadow: 1px 0px 20px 6px #0000000d;" class="campaign-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="post-item">
                            <div class="post-inner">
                                <div class="post-content">
                                    <div class="content-inner">
                                        <h4>Greener is Greater!</h4>
                                        <p>At SEAE, we are dedicated to offering sustainable products, services, and solutions that not only meet the needs of today but also actively contribute to a positive environmental impact. Our mission is to spark a global movement toward greener living through continuous innovation and a steadfast commitment to eco conscious practices. We strive to achieve this by promoting the widespread adoption of renewable energy sources & biodegradable products.</p>
                                        <a href="/About" class="btn" style="border-radius: 20px; border: 1px solid brown; padding: 0 1rem;" ><span>Read more</span> </a>
                                    </div>
                                </div>
                                <div  class="post-thumb style-2">
                                    <img style="border-radius: 15px;" src="/images/campaign/Green Architecture.jpg" alt="campaign">
                                    <div class="post-thumb-content">
                                        <!-- <div class="skill-item">
                                            <ul class="d-flex flex-wrap justify-content-between">
                                                <li>Raised $20.000</li>
                                                <li>Gold $35.500</li>
                                            </ul>
                                            <div class="skillbar" data-percent="47%">
                                                <div class="skillbar-bar"></div>
                                                <div class="skill-bar-percent">47%</div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="post-item">
                            <div  class="post-inner">
                                <div class="post-content">
                                    <div class="content-inner">
                                        <h4>Sustainable, Balanced World

                                        </h4>
                                        <p>SEAE's aspirations extend towards a future where sustainability is effortlessly integrated into the daily routines of individuals and businesses. Through innovative practices and collaborative efforts, we aspire to create enduring solutions that safeguard our planet for the next generations. Our commitment lies in nurturing a global mindset where eco-friendly practices are not just adopted but celebrated. </p>
                                        <a href="/About" class="btn" style="border-radius: 20px; border: 1px solid brown; padding: 0 1rem;" ><span>Read more</span> </a>
                                    </div>
                                </div>
                                <div  class="post-thumb style-2">
                                    <img style="border-radius: 15px; height: 100%; width: 100%; object-fit: cover;" src="/images/campaign/chuttersnap-znOg3WpLSsY-unsplash.jpg" alt="campaign">
                                    <!-- <div class="post-thumb-content">
                                        <div class="skill-item">
                                            <ul class="d-flex flex-wrap justify-content-between">
                                                <li>Raised $20.000</li>
                                                <li>Gold $35.500</li>
                                            </ul>
                                            <div class="skillbar" data-percent="90%">
                                                <div class="skillbar-bar"></div>
                                                <div class="skill-bar-percent">90%</div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <style>
                    .swiper-slide>post-item{
                        border-radius: 15px;
                    }
                    .btn{
                        transition: all ease 0.3s;
                    }
                    .btn:hover{
                        background-color: brown;
                        color: white;
                        border: 0;
                    }
                </style>
            </div>
            <div style="border-radius: 15px; margin-bottom: 5rem;" class="pagination-container">
                <div class="pagination-slider">
                    <div  class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="post-item">
                                <p>01. Our Mission</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="post-item">
                                <p>02. Our Vision</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>